@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/bastian-script');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Poppins', sans-serif;
    
}

:root
{
    --color1: #4e4466;
    --color2:#526d85;
    --color3: #e2d5f1;
    --color4: #b8acd1;
    --text-color: #ffff;
    --text-color2: #c9e8fd;
}
html, body
{
    font-size: 60.5%;
    overflow-x: hidden;

}


section
{

    min-height: 89vh;
    padding: 10rem 9% ;
}
/**navbar*/
.header
{
    background: var(--color1);
    position:fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 1rem 9%;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 100;
    
}
.mainMenu
{
    display: flex;
    list-style: none;
    align-items: center;
}


.bx
{
    font-size: 33px;
    color: var(--text-color2);
}


.navbar a
{
    color: var(--text-color2);
    margin: 0 25px;
    transition:.3s;
    text-decoration: none;
    display: inline-block;
    font-size: 22px ;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    
}
.navbar a:hover
{
    color: var(--color2);
    transition: all ease .50s;
    font-weight: 500;
    
    
}
.navbar a.active 
{
    color: var(--color2);
}
.openMenu
{
    font-size: 2rem;
    display: none;
    cursor: pointer;

}
.closeMenu 
{
    font-size: 2rem;
    cursor: pointer;
    justify-content:flex-end;
    display: none;
    
}


.container-fluid
{
    color:var(--color1);
}



/**Home Page**/
.home
{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background: var(--color4);
}


.home-content h1
{
    color: var(--color1);
    font-size: 2.6rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Lucida Handwriting";
    
}
.home-content p
{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color1);
    text-transform: capitalize;
    font-family: "Lucida Handwriting";
    

}

.logo-img {
    width: 400px;
    height: 400px;
}
.logo-img img
{
    width: 380px;
    height: 380px;
    border-radius: 60px;
    object-fit: contain;
    animation: myAnim 5s ease 0s 1 normal forwards;
    
}
/*keyframe*/
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}



.countdown li
{
    display: inline-block;
    font-size: 1.5rem;
    list-style-type:none ;
    padding: 1em;
    text-transform: uppercase;
    color: var(--color1);
    font-family: "Lucida Handwriting";
}

.countdown li span
{
    display: block;
    font-size: 2.5rem;
    color: var(--color1);
    font-family: "Lucida Handwriting";

}
.countdown p
{
    font-size: 2.5rem;
    color: var(--color1);
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    font-family: "Lucida Handwriting";
}
span.date
{
    font-size: 2.5rem;
    color: var(--color1);
    font-style: normal;
    font-family: "Lucida Handwriting";
}

.emoji
{
    display: none;
    padding: 1rem;
}

.emoji span
{
    font-size: 4rem;
    padding: 0 .5rem;
}
/*Program*/ 
.program
{
    
    justify-content: center;
    align-items: center;
    gap:2rem;
    background: var(--color4);
    scroll-behavior: smooth;
}

.cards
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card-body h5
{
    color: var(--color1);
    font-size: 2.5rem;
    font-weight: 600;
}
.card
{
    align-items: center;
}
/* Style for the overlay background */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Style for the modal */
#gallery-popup {
    display: none;
}

#gallery-popup.show {
    display: block;
}

.modal-dialog {
    max-width: 800px; /* Set your desired max width */
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: var(--color1); /* Set your desired header background color */
    color: var(--text-color2); /* Set your desired header text color */
}

.modal-title {
    margin: 0;
    text-align: center;
}

.modal-body {
    text-align: center;
}

.modal-img {
    max-width: 100%;
    height: auto;
}

/* Optional: Customize close button */
.btn-close {
    color:var(--text-color1); /* Set your desired close button color */
}




/*Event Place*/
.Place
{
    display: flow-root;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background: var(--color4);
    scroll-behavior: smooth;
}

.heading
{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom:  3rem;
    color: var(--color1);
    font-weight: 600;
    font-family: "Lucida Handwriting";
}
.carousel-item img
{
    border-radius: 10px;
    border-style: solid;
    border-color: var(--color2);
    max-width: 100%;
    
    
}

.text h1
{
    font-size: 2.5rem;
    color: var(--color1);
    font-weight: 300;
    font-style: italic;
    text-transform: capitalize;
    text-align:start;
    margin-top: 50px;
    text-align: start;
    font-family: "Lucida Handwriting";
}
.text h2
{
    font-size: 2.5rem;
    color: var(--color1);
    font-weight: 300;
    font-style: italic;
    text-transform: capitalize;
    text-align:start;
    text-align: start;
    font-family: "Lucida Handwriting";
    
}
.text span
{
    text-transform: uppercase;
    font-style: normal;
    font-family: "Lucida Handwriting";
}

.location-map ,iframe
{
    border-radius: 10px;
    display: flex;
    
}
/*Invitational Link Page*/
.link
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background: var(--color4);
    scroll-behavior: smooth;
}
/*footer*/
footer {
    background-color:var(--color1);
    color:var(--text-color);
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color2);
}

/* Contact information styles */
.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.contact-info div {
    text-align: left;
}

/* Optional: Style for icons */
.contact-info i {
    margin-right: 5px;
}



/** Media***/
@media (max-width: 1850px){
    header {
        padding: 15px 8%;
        transition: .2s;
    }
}
@media (max-width: 1370px)
{
    header {
        padding: 15px 4%;
        transition: .2s;
    }
    section {
        padding: 0 4%;
        transition: .2s;
    }
}
@media (max-width: 1370px){
    header {
        padding: 15px 4%;
        transition: .2s;
    }
    section {
        padding: 0 4%;
        transition: .2s;
    }
}
@media (max-width: 1020px) {
    .navbar a {
        margin: 0 15px;
    }
}

@media (max-width: 950px) {
    section {
        padding: 70px 4%;
    }
    header {
        padding: 11px 4%;
        background: #2d2d2d;
    }
    .home {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .home-content {
        order: 2;
    }
    .logo-img {
        margin: auto;
        height: auto;
        width: auto;
    }
    .logo-img img {
        max-width: 450px;
        width: 100%;
        height: auto;
    }

}
@media (max-width: 850px) 
{
    .mainMenu
    {
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:var(--color1);
        transition: top 1s ease;
        display: none;
    }
    .close-menu 
    {
        display:block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .openMenu
    {
        display: block;
    }
    .mainMenu li a:hover
    {
        background: none;
        color: var(--color2);
        font-size: 1.6rem;
    }
}
@media (max-width: 550px )
{
    .contact-form, iframe
    {
        width: 600px;
        height: 1100px;
    }
@media (max-width: 500px )
{
    .contact-form, iframe
    {
        width: 550px;
        height: 1100px;
    }
}
@media (max-width: 450px )
{
    .contact-form, iframe
    {
        width: 500px;
        height: 1100px;
    }
}
@media (max-width: 400px )
{
    .contact-form, iframe
    {
        width: 450px;
        height: 1100px;
    }
}
@media (max-width: 350px )
{
    .contact-form, iframe
    {
        width: 350px;
        height: 1100px;
    }
}
@media (max-width: 300px )
{
    .contact-form, iframe
    {
        width: 300px;
        height: 1100px;
    }
}
}

